<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <span ion-text>Hakkımızda</span>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

	<div class="about-header profiles-bg" padding>
			<img src="assets/img/foodIonic-ico220.png">
	</div>

	<ion-grid no-padding fixed>
		<ion-row no-padding>
			<ion-col>
				<div padding class="about-info">

						<h4 ion-text color="dark">Bibul Uygulaması</h4>

						<p>
								Bibul, yakınınızdaki her türlü işletmeyi bulabilmeniz için var.
						</p>

				</div>
			</ion-col>
		</ion-row>
	</ion-grid>

</ion-content>
