<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      <span ion-text>İşletme</span>
    </ion-title>

		<ion-buttons end>
      <button ion-button (click)="message()">
        <ion-icon name="mail"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="favorite()">
        <ion-icon name="heart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="lightest-bg">
  <ion-card *ngIf="plant?.id_store" class="full-width" no-margin>
  	<div class="card-img-wrap">
      <span ion-text class="card-img-status fw700 text-white" [ngClass]="{'closed': false, 'open': true}">
        Açık
      </span>
		  <ion-slides class="to-top primary-bg" pager>
		    <ion-slide>
		      <img src="{{ plant?.images[0].full.url }}" alt="">
		    </ion-slide>
		  </ion-slides>
		</div>
    <ion-card-content>
      <h1 ion-text color="dark" class="card-title fw700" text-center>
      	{{plant?.name}}
     	</h1>
      <p ion-text color="primary" text-center>1 km • {{plant?.address}}</p>
      <div text-center>
		<ion-badge color="secondary">{{plant?.category_name}}</ion-badge>
			</div>
    </ion-card-content>

	<ion-grid no-padding fixed>
		<ion-row no-padding>
			<ion-col>
			  <ion-segment [(ngModel)]="restaurantopts" padding-horizontal>
			    <ion-segment-button value="menu">
			      Kampanyalar
			    </ion-segment-button>
			    <ion-segment-button value="info" (click)="showMap()">
			      Hakkında
			    </ion-segment-button>
			  </ion-segment>

				<div [ngSwitch]="restaurantopts" padding>
					<div *ngSwitchCase="'menu'">
						<ion-list>
						  <ion-card *ngIf="!campains.length" class="primary-bg" margin-top>
								<ion-card-content>
									<p text-center class="text-white">Kampanya Mevcut Değil!</p>
								</ion-card-content>
						  </ion-card>
						  <ion-item no-padding *ngFor="let campain of campains" tapplable (click)="openCampainDetail(campain)">
						    <ion-thumbnail item-start>
						      <img src="{{campain.image.full.url}}">
						    </ion-thumbnail>
			          <h2 ion-text color="dark" class="fw500">{{campain.name}}</h2>
			          <p ion-text color="primary" class="text-11x">%{{ campain.content[0].percent }}</p>
						    <button ion-button clear class="green-bg text-white" item-end>{{ campain.content[0].price | currency }}</button>
						  </ion-item>
						</ion-list>

						<br><br><br><br>

					</div>
					<div *ngSwitchCase="'info'">
					  <!-- Show map here -->
					  <div id="map-detail" class="map" margin-bottom></div>
						<p ion-text text-center color="dark" class="fw700">{{plant?.address}}</p>
						<hr margin-bottom>

						<h2>
							<span ion-text class="fw700">Hakkında</span>
						</h2>
						<div [innerHTML]="plant?.detail"></div>

						<br><br>
					</div>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>

  </ion-card>
</ion-content>
