page-plant-detail {
  .card {
  	border-radius: 0;
  }

	.swiper-slide img {
		width: 100%;
		max-height: max-content;
	}

  .toptop {
    top: 0;
  }
	// style for slider
	ion-slides.to-top {
	  height: auto;
	  margin-bottom: -5px;

	  .swiper-pagination {
	    display: block !important;

	    .swiper-pagination-bullet {
	      background: color($colors, light);
	    }
	  }
	}

	.to-top {
	  height: auto;
	  margin-bottom: -5px;
	}

	.map {
		width: 100%;
		height: 200px;
	}

	.tab-reviews {

	  ion-list {
	    margin-bottom: 0;

	    ion-item {
				padding-left: 0;

	      .author {
	        color: color($colors, dark);
	        font-style: italic;
	      }
	    }
	  }
	}
}
