<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Kategoriler</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

	<div class="card-background-page">

	<ion-grid no-padding>
		<ion-row no-padding>
			<ion-col col-12 col-md-6 *ngFor="let category of categories">
				<ion-card tappable (click)="openPlantListPage(category.name)">
					<img [src]="category.image.full ? category.image.full.url : 'assets/img/restaurants/cat_default.png'" style="width: 800px; height: 536px;" />
					<div class="card-title">{{category.name}}</div>
					<div class="card-subtitle">{{category.nbr_stores}} {{category.name}}</div>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>

	</div>

</ion-content>
