<!-- -->
<ion-content padding class="profiles-bg">
	<div class="auth-content">

		<!-- Logo -->
		<div padding-horizontal text-center>
			<div class="logo">
				<img src="assets/img/bibul_300.png">
			</div>
		</div>

		<div padding-vertical>
		  <ion-segment [(ngModel)]="auth" color="light">
		    <ion-segment-button value="login">
		      Oturum Aç
		    </ion-segment-button>
		    <ion-segment-button value="register">
				Üye Ol
		    </ion-segment-button>
		  </ion-segment>
		</div>

		<div [ngSwitch]="auth">
			<!-- Login form -->
			<div id="loginForm" *ngSwitchCase="'login'">
				<form [formGroup]="onLoginForm" class="list-form">
					<ion-item>
						<ion-label floating>
							<ion-icon name="mail" item-start class="text-white"></ion-icon>
							Kullanıcı Adı
						</ion-label>
						<ion-input type="email" formControlName="email"></ion-input>
					</ion-item>
					<p ion-text color="danger" class="text-12x has-error" *ngIf="onLoginForm.get('email').touched && onLoginForm.get('email').hasError('required')">Bu alan zorunlu</p>

					<ion-item>
						<ion-label floating>
							<ion-icon name="lock" item-start class="text-white"></ion-icon>
							Şifre
						</ion-label>
						<ion-input type="password" formControlName="password"></ion-input>
					</ion-item>
					<p ion-text color="danger" class="text-12x has-error" *ngIf="onLoginForm.get('password').touched && onLoginForm.get('password').hasError('required')">Bu alan zorunlu</p>
				</form>

				<p text-right ion-text color="light" tappable (click)="forgotPass()"><strong>Şifreyi Unuttun?</strong></p>

				<div>
					<button ion-button icon-start block color="secondary" (click)="login()" [disabled]="!onLoginForm.valid">
						<ion-icon name="log-in"></ion-icon>
						Giriş
					</button>

				</div>
			</div>

			<div id="registerForm" *ngSwitchCase="'register'">
		    <!-- Register form -->
		    <form [formGroup]="onRegisterForm" class="list-form">

				<ion-item>
					<ion-label floating>
						<ion-icon name="person" item-start class="text-white"></ion-icon>
						Adınız
					</ion-label>
					<ion-input type="text" formControlName="firstName"></ion-input>
				</ion-item>
				<p ion-text color="danger" class="text-12x has-error" *ngIf="onRegisterForm.get('firstName').touched && onRegisterForm.get('firstName').hasError('required')">Bu alan zorunlu</p>

				<ion-item>
					<ion-label floating>
						<ion-icon name="person" item-start class="text-white"></ion-icon>
						Soyadınız
					</ion-label>
					<ion-input type="text" formControlName="lastName"></ion-input>
				</ion-item>
				<p ion-text color="danger" class="text-12x has-error" *ngIf="onRegisterForm.get('lastName').touched && onRegisterForm.get('lastName').hasError('required')">Bu alan zorunlu</p>

				<ion-item>
					<ion-label floating>
						<ion-icon name="mail" item-start class="text-white"></ion-icon>
						Email
					</ion-label>
					<ion-input type="email" formControlName="email"></ion-input>
				</ion-item>
				<p ion-text color="danger" class="text-12x has-error" *ngIf="onRegisterForm.get('email').touched && onRegisterForm.get('email').hasError('required')">Bu alan zorunlu</p>

				<ion-item>
					<ion-label floating>
						<ion-icon name="man" item-start class="text-white"></ion-icon>
						Yaş
					</ion-label>
					<ion-input type="number" formControlName="age"></ion-input>
				</ion-item>
				<p ion-text color="danger" class="text-12x has-error" *ngIf="onRegisterForm.get('age').touched && onRegisterForm.get('age').hasError('required')">Bu alan zorunlu</p>

				<ion-item>
					<ion-label floating>
						<ion-icon name="male" item-start class="text-white"></ion-icon>
						Cinsiyet
					</ion-label>
					<ion-select formControlName="gender" name="gender" okText="Tamam" cancelText="Kapat">
						<ion-option value="male">Erkek</ion-option>
						<ion-option value="female">Kadın</ion-option>
					</ion-select>
				</ion-item>
				<p ion-text color="danger" class="text-12x has-error" *ngIf="onRegisterForm.get('gender').touched && onRegisterForm.get('gender').hasError('required')">Bu alan zorunlu</p>

				<ion-item>
		        <ion-label floating>
		          <ion-icon name="person" item-start class="text-white"></ion-icon>
		          Kullanıcı Adı
		        </ion-label>
		        <ion-input type="text" formControlName="username"></ion-input>
		      </ion-item>
		      <p ion-text color="danger" class="text-12x has-error" *ngIf="onRegisterForm.get('username').touched && onRegisterForm.get('username').hasError('required')">Bu alan zorunlu</p>

		      <ion-item>
		        <ion-label floating>
		          <ion-icon name="lock" item-start class="text-white"></ion-icon>
		          Şifre
		        </ion-label>
		        <ion-input type="password" formControlName="password"></ion-input>
		      </ion-item>
		      <p ion-text color="danger" class="text-12x has-error" *ngIf="onRegisterForm.get('password').touched && onRegisterForm.get('password').hasError('required')">Bu alan zorunlu</p>
		    </form>

		    <div margin-top>
		      <button ion-button block color="secondary" (click)="saveUser()" [disabled]="!onRegisterForm.valid">
		        Kaydol
		      </button>

		    </div>
		  </div>

		</div>


	</div>
</ion-content>
