<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span ion-text class="fw700">Bibul</span>
    </ion-title>
  </ion-navbar>

  <ion-toolbar color="primary">
    <ion-searchbar [(ngModel)]="searchKey" placeholder="Arama Yap..." (ionInput)="onInput($event)" (ionCancel)="onCancel($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

	<ion-grid no-padding fixed>

		<ion-list ion-row padding-horizontal>
		  <button ion-item ion-col *ngFor="let plant of plants" (click)="openPlantDetail(plant)" col-12 col-md-6>
		    <ion-thumbnail item-start>
		        <img src="{{plant.images[0] ? plant.images[0].full.url : 'assets/img/restaurants/cat_default.png'}}">
		    </ion-thumbnail>
		    <h3 ion-text color="dark" class="fw500">{{plant.name}}</h3>
		    <p ion-text class="text-12x"><span ion-text color="secondary" class="fw700">{{plant.category_name}}</span> ∙ <span ion-text color="primary">{{ plant.address }}</span></p>
		    <p ion-text class="text-12x">{{ plant.distance }}</p>
		  </button>
		</ion-list>

	  <ion-row padding>
	    <button ion-button round block color="secondary" (click)="openRestaurantListPage()">
	      Daha Fazlası
	    </button>
	  </ion-row>

	</ion-grid>

</ion-content>

<ion-footer class="no-padding dark-bg">
	<ion-grid no-padding fixed>
		<ion-row no-padding>
			<button ion-button icon-left block color="primary" (click)="openPlantPage()" class="col col-4">
        	<ion-icon name="compass" class="text-18x"></ion-icon>
        	<span ion-text class="text-12x">İşletmeler</span>
			</button>
			<button ion-button icon-left block color="primary" (click)="openCategoryPage()" class="col col-4">
          <ion-icon name="albums" class="text-18x"></ion-icon>
          <span ion-text class="text-12x">Kategoriler</span>
			</button>
			<button ion-button icon-left block color="primary" (click)="openFavoritePage()" class="col col-4">
        	<ion-icon name="list-box" class="text-18x"></ion-icon>
        	<span ion-text class="text-12x">Favorilerim</span>
			</button>
		</ion-row>
	</ion-grid>

</ion-footer>
