<ion-header>
  <ion-navbar color="primary">
    <ion-buttons start>
        <button ion-button round (click)="closeModal()">
            <ion-icon name="close"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>
    	<span ion-text>Arama Filtresi</span>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

	<ion-item>
	  <ion-label class="no-margin-bottom">
	  	<span ion-text color="dark" class="fw500">Uzaklık:</span> <span ion-text color="primary"> {{radiusmiles}} KM</span></ion-label>
	  <ion-range min="1" max="50" step="1" value="1" class="no-padding-top" [(ngModel)]="radiusmiles">
	  </ion-range>
	</ion-item>

	<button ion-button block color="primary" (click)="closeModal()">Filtrele</button>
</ion-content>
