<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            <span ion-text>{{campain.name}}</span>
				</ion-title>
		</ion-navbar>
</ion-header>

<ion-content class="dish lightest-bg">

  <ion-card class="dish-card">

    <ion-card-content class="profiles-bg">
			<!--slides-->
			<img src="{{ campain.image.full.url }}">
			<div padding>
	      <ion-grid class="filters" no-padding fixed>
	        <ion-row margin-bottom>
	          <ion-col text-center>
	          	<h4 ion-text color="light">Ücret</h4>
	            <h1 ion-text class="text-white fw700">{{ campain.content[0].price | currency }}</h1>
	            <hr margin-vertical>
	          </ion-col>
	        </ion-row>
	      </ion-grid>
			</div>
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-card-content>
			<hr>
      <h2 ion-text color="primary" class="fw500">Açıklama</h2>
	  <div [innerHTML]="campain.content[0].description"></div>
    </ion-card-content>
  </ion-card>

  <br>

</ion-content>
