<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
        	<span ion-text>Mesajlar</span>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="lightest-bg">

	<ion-grid no-padding fixed>
		<ion-row no-padding>
			<ion-col>
				<ion-card *ngIf="!discussions.length" class="primary-bg" margin-top>
					<ion-card-content>
						<p text-center class="text-white">Henüz bir mesajınız yok.</p>
					</ion-card-content>
				</ion-card>

				<ion-list>
					<ion-item-sliding *ngFor="let discussion of discussions">
						<button ion-item (click)="itemTapped(discussion)" [ngClass]="{'light-bg': (discussion.messages[0].status <= 0)}">
							<h2 [ngClass]="{'fw700': (discussion.messages[0].status <= 0)}">
								<ion-icon name="mail" color="primary" *ngIf="(discussion.messages[0].status <= 0)"></ion-icon>
								<ion-icon name="mail-open" color="primary" *ngIf="(discussion.messages[0].status === 1)"></ion-icon>
								{{discussion.sender[0].name}}
							</h2>
							<p>{{discussion.sender[0].email}} ∙ {{discussion.created_at | date: 'MM/dd/yyyy'}}</p>
						</button>
						<ion-item-options>
							<button ion-button color="danger" (click)="deleteItem(discussion)">Delete</button>
						</ion-item-options>
					</ion-item-sliding>
				</ion-list>
			</ion-col>
		</ion-row>
	</ion-grid>

</ion-content>
