<ion-content class="primary-bg">
	<ion-grid no-padding fixed>
		<ion-row no-padding>
			<ion-col>

			  <ion-slides pager="true" dir="{{dir}}">
			    <ion-slide *ngFor="let slide of slideList">
			      <ion-toolbar fixed>
			        <ion-buttons end>
			          <button ion-button color="light" (click)="onLastSlide()">Skip</button>
			        </ion-buttons>
			      </ion-toolbar>
			      <img [src]="slide.image" class="slide-image">
			      <h3 class="slide-title text-white" [innerHTML]="slide.title"></h3>
			      <p [innerHTML]="slide.description" class="text-white"></p>

						<div padding>
				      <button ion-button round block color="secondary" margin-top icon-end (click)="onSlideNext()">
				      	Next
				      	<ion-icon name="arrow-round-forward" color="light"></ion-icon>
				    	</button>
			    	</div>
			    </ion-slide>
			    <ion-slide>
			      <ion-toolbar>
			      </ion-toolbar>
			      <img src="assets/img/bibul_300.png" class="slide-image" margin-top>
			      <h2 class="slide-title text-white">Ready to Lunch?</h2>

			      <div padding>
			        <button ion-button block round color="secondary" margin-top (click)="openAuthPage()">
			          Sign In / Sign Up
			        </button>
			        <button ion-button block round color="dark" margin-top (click)="openHomePage()">
			          Get Started
			        </button>
			      </div>
			    </ion-slide>
			  </ion-slides>

			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
