<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span ion-text>İşletmeler</span>
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="openFilterModal()">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchKey" placeholder="Arama Yap..." (ionInput)="onInput($event)" (ionCancel)="onCancel($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="lightest-bg">


	<ion-list *ngIf="from !== 'home'" no-margin>
	  <ion-item>
	    <ion-label class="fw700">İşletme Tipi:</ion-label>
	    <ion-select [(ngModel)]="proptype" okText="Tamam" cancelText="Kapat">
	      <ion-option value="">Bütün Kategoriler</ion-option>
	      <ion-option *ngFor="let cat of categories" value="{{ cat.name }}">{{ cat.name }}</ion-option>
	    </ion-select>
	  </ion-item>
	</ion-list>

  <div *ngIf="viewMode === 'list'">
		<ion-grid no-padding>
			<ion-row no-padding>
				<ion-col col-12 col-md-6 *ngFor="let plant of plants | termSearch:proptype:'category_name' | termSearch:label:'name'">

		      <ion-card margin-bottom>
		        <div class="card-img-wrap">
		          <ion-fab bottom right edge>
		            <button ion-fab mini (click)="favorite(plant)">
		              <ion-icon name="heart"></ion-icon>
		            </button>
		          </ion-fab>
		          <img src="{{plant.images[0] ? plant.images[0].full.url : 'assets/img/restaurants/cat_default.png'}}" tappable (click)="openPlantDetail(plant)">
		          <span ion-text class="card-img-price fw700 text-black">
		            {{ plant.category_name }}
		          </span>
		          <span ion-text class="card-img-status fw500 text-white" [ngClass]="{'closed': false, 'open': true}">
		            Açık
		          </span>
		        </div>
		        <ion-card-content>
		          <ion-card-title ion-text color="dark" class="fw700" tappable (click)="openPlantDetail(plant)" no-margin no-padding>
		            {{plant.name}}
		          </ion-card-title>
		          <p ion-text color="primary" no-margin>
		            {{plant.category_name}} • <span ion-text class="fw700">{{ plant.address }}</span>
		          </p>
		          <hr>
		        </ion-card-content>
		      </ion-card>

    		</ion-col>
    	</ion-row>
    </ion-grid>
  </div>

  <div *ngIf="viewMode === 'map'" style="width:100%;height:100%;" id="map"></div>

</ion-content>

<ion-footer padding>
    <ion-segment [(ngModel)]="viewMode">
        <ion-segment-button value="list">
            <ion-icon name="list"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="map" (ionSelect)="showMap()">
            <ion-icon name="map"></ion-icon>
        </ion-segment-button>
    </ion-segment>
</ion-footer>
