<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>
			<span ion-text>Yakınımdaki İnsanlar</span>
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="lightest-bg">

	<ion-grid no-padding fixed>
		<ion-row no-padding>
			<ion-col>
				<ion-list>

					<ion-item *ngFor="let user of users" tapplable (click)="openMessageDetail(user)">
					<ion-thumbnail item-start>
						<ion-icon *ngIf="user.images == null" item-left name="person" style="font-size: 50px;"></ion-icon>
						<img *ngIf="user.images != null" src="{{user.images}}">
					</ion-thumbnail>
					<h2 ion-text color="dark" class="fw500">{{user.name}}</h2>
					<p ion-text color="primary" class="text-11x">{{ user.email }}</p>
					<button ion-button clear class="green-bg text-white" item-end>{{ user.dateLogin | date:'d MMMM y' }}</button>
					</ion-item>

				</ion-list>
			</ion-col>
		</ion-row>
	</ion-grid>

</ion-content>
