<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <span ion-text>Hesabım</span>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="profile light-bg">

    <ion-card>
      <ion-card-content class="profiles-bg">
				<ion-grid no-padding fixed>
					<ion-row no-padding>
						<ion-col>
							<ion-icon name="person"></ion-icon>
							<h2 class="fw500">{{ currUser.name }}</h2>
							<h3 ion-text color="light">{{ currUser.typeAuth === 'customer' ? 'Müşteri' : (currUser.typeAuth === 'manager' ? 'İşletmeci' : 'Admin' ) }}</h3>
						</ion-col>
					</ion-row>
				</ion-grid>
      </ion-card-content>

			<ion-grid no-padding fixed>
				<ion-row no-padding>
					<ion-col>
						<div padding>
							<ion-list>

								<ion-item>
									<ion-label color="dark" stacked>Tam Adınız:</ion-label>
									<ion-input type="text" placeholder="{{ currUser.name }}" value="{{ currUser.name }}"></ion-input>
								</ion-item>

								<ion-item>
									<ion-label color="dark" stacked>Email:</ion-label>
									<ion-input type="email" placeholder="{{ currUser.email }}" value="{{ currUser.email }}"></ion-input>
								</ion-item>

								<ion-item>
									<ion-label color="dark" stacked>Kullancı Adı:</ion-label>
									<ion-input type="text" placeholder="{{ currUser.username }}" value="{{ currUser.username }}"></ion-input>
								</ion-item>

								<ion-list radio-group margin-top margin-bottom>
									<ion-list-header no-margin no-padding>
										<span ion-text color="dark" class="fw500">Kullanıcı Tipi</span>
									</ion-list-header>

									<ion-item>
										<ion-label color="dark">Müşteri</ion-label>
										<ion-radio checked="{{ currUser.typeAuth === 'customer' }}" value="customer"></ion-radio>
									</ion-item>

									<ion-item>
										<ion-label color="dark">İşletmeci</ion-label>
										<ion-radio checked="{{ currUser.typeAuth === 'manager' }}" value="owner"></ion-radio>
									</ion-item>

									<ion-item>
										<ion-label color="dark">Admin</ion-label>
										<ion-radio checked="{{ currUser.typeAuth === 'admin' }}" value="chef"></ion-radio>
									</ion-item>
								</ion-list>

							</ion-list>
						</div>

						<button ion-button large full color="dark" (click)="sendData()">Güncelle</button>
					</ion-col>
				</ion-row>
			</ion-grid>
    </ion-card>

    <div padding>
      <p ion-text color="dark" no-margin>
		Kullanıcı {{ currUser.date_created | date:'dd/MM/yyyy' }} tarihinde oluşturuldu.
      </p>
    </div>

</ion-content>
