.message-header {
  padding: 16px;
  width: 100%;
	ion-icon {
	  color: color($colors, primary);
	  width: 20px;
	}
}
.typearea{
  position: absolute;
  width: 100%;
  height: 40px;
  top: 0px;
  left:0;
}

.typearea input[type="text"]{
  width: 100%;
  height: 33px;
  position: relative;
  padding-right: 40px;
}
