<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>
			<span ion-text>Mesaj Detay</span>
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>

	<ion-grid no-padding fixed style="padding-top: 42px;">
		<ion-row no-padding *ngFor="let message of messages">
			<ion-col *ngIf="message != undefined"> 
				<div class="message-header profiles-bg" style="text-align: right; padding-left: 30px;" *ngIf=" message.sender_id === currUser.id_user">
					<h5 ion-text color="light" class="fw700">{{message.created_at | date: 'MM/dd/yyyy'}} ∙ {{currUser.name}}</h5>
					<p ion-text no-margin color="light">{{message.content}}</p>
				</div>

				<div style="text-align: left; padding-right: 30px;" *ngIf="message.receiver_id === currUser.id_user">
					<h5>{{message.created_at | date: 'MM/dd/yyyy'}} ∙ {{currDiscussion.sender.name}}</h5>
					<p>
						{{message.content}}
					</p>
				</div>
			</ion-col>
		</ion-row>
		<div class="typearea">
			<input type="text" placeholder="Yeni Mesaj Yaz" [value]="content" [(ngModel)]="content">
			<button clear text-center (click)="sendMessage()" style="color: #0288D1;position: relative;float: right; top: -33px;font-size: 29px;background-color: white;">
				<ion-icon ios="ios-send" md="md-send"></ion-icon>
			</button>
		</div>
	</ion-grid>

</ion-content>